.loginContainer {
  display: inline;
  text-align: center;
}

.inputTitleContainer {
  display: flex;
  justify-content: space-between;
}

.formGroup {
  margin-top: 8px;
}

.joinRoomButton {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.createRoomButton {
  margin-top: 10px;
}

.hLineContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.hLine {
  height: 1px;
  transform: translateY(1px);
  width: 100px;
  border-top: 1px solid black;
}

.hLineText {
  margin: 0 3px;
}
