.form {
  display: flex;
  flex-direction: column;
}

.eyeball {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  right: 15px;
  font-size: 16pt;
  user-select: none;
}

.eyeballInactive {
  filter: grayscale(100%);
  opacity: 0.5;
}
